body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.positionButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

.titleApp {
  padding-top: 3%;
  margin: 0;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Poppins", "SF Pro Display", sans-serif;
}

.note{
  background: linear-gradient(45deg, #37ecba, #72afd3);
}

.dark-mode{
  background-color: black;
  min-height: 100vh;
}

.dark-mode h1{
  color: white;
}

.item__link {
  text-decoration: none;
}

.dark-mode h2 {
  color: white;
  background-color: #37ecba;
}